# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/

# Pipenv
Pipfile.lock

# Poetry
poetry.lock

# test coverage
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/
htmlcov/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype
.pytype/

# PyCharm
.idea/

# VS Code
.vscode/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
*.spec
dist/
build/

# macOS
.DS_Store

# Windows
Thumbs.db

# Log files and local settings
*.log
*.pot
*.mo
*.bak
*.tmp

# dotenv environment variables file
.env
*.env

# Secret files
secrets.json